{% extends "pizzaOrder/base.html" %}

{%block content%}
    <a href={%url "home"%}>Back to home menu</a><br/>

    <h2>Provide information for your order</h2>
    <div>
        <form method="POST" action="">
            {%csrf_token%}
            <button type="button" id="pizza_add">Add pizza</button>
            <div id="pizza-container">
            </div>
            {{order_form.as_p}}
            <input type="submit"></input>
        </form>
    </div>
    <script>
        function capitalize(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }


        function break_line(container, count=1) {
            for(var i=0; i < count; i++) {
                container.appendChild(document.createElement("BR"));
            }
        }


        function add_label(container, input_id, text) {
            var label = document.createElement("LABEL");
            var text = document.createTextNode(text);
            label.for = input_id
            label.appendChild(text);
            container.appendChild(label);
        }


        function create_option_list(options, input_name, container, label, pizza_count, multiple=false) {
            var input = document.createElement("SELECT");
            input.name = input_name + pizza_count;
            if(multiple) {
                input.name += "[]"
            }
            input.required = true;
            input.id = input_name + pizza_count;
            input.multiple = multiple
            for(var i=0; i < options.length; i++) {
                var option = document.createElement("OPTION");
                option.value = options[i].pk;
                var option_text = document.createTextNode(capitalize(options[i].fields.name));
                option.appendChild(option_text);
                input.appendChild(option);
            }
            add_label(container, input.id, label);
            break_line(container);
            container.appendChild(input);          
        }


        var pizza_counter = 1;
        const pizza_container = document.getElementById("pizza-container");
        document.getElementById("pizza_add").addEventListener("click", () => {
            var container = document.createElement("DIV");
            var heading = document.createElement("H4");
            var heading_text = document.createTextNode("Pizza " + pizza_counter);
            heading.appendChild(heading_text);
            container.appendChild(heading);
            //Add flour input
            var flours = {{flours_json|safe}};
            console.log(flours);
            create_option_list(flours, "dough_flour", container, "Flour type ", pizza_counter);
            break_line(container);

    	    //Add sauce input
            var sauces = {{sauces_json|safe}};
            create_option_list(sauces, "sauce", container, "Sauce ", pizza_counter);
            break_line(container, 2)

            //Add topping input
            var toppings = {{toppings_json|safe}};
            create_option_list(toppings, "toppings", container, "Toppings ", pizza_counter, true);
            pizza_container.appendChild(container);
            pizza_counter++;
        })
    </script>
{%endblock%}