{%extends "pizzaOrder/base.html"%}
{%block content%}
    <a href={%url "home"%}>Back to home menu</a><br/>
    {%if none%}
        <h5>There are currently no flours</h5>
        <a href={%url "add-flour"%}>Add flour</a>
    {%else%}
        <a href={%url "add-flour"%}>Add flour</a>
        {%for flour in flours%}
            <div>
                <h4>{{flour.name}}</h4>
                <a style="color:red;" href={% url "delete-flour"%}>Delete flour</a>
                <p>{{flour.description}}</p>
            </div>
        {%endfor%}
    {%endif%}
{%endblock content%}