{%extends "pizzaOrder/base.html"%}
{%block content%}
    <a href={%url "home"%}>Back to home menu</a><br/>
    {%if none%}
        <h5>There are currently no toppings</h5>
        <a href={%url "add-topping"%}>Add topping</a>
    {%else%}
        <a href={%url "add-topping"%}>Add topping</a>
        {%for topping in toppings%}
            <div>
                <h4>{{topping.name}}</h4>
                <a style="color:red;" href={% url "delete-topping"%}/{{topping.id}}>Delete</a>
                <a style="color:blue;" href={% url "update-topping"%}/{{topping.id}}>Update</a>
                <p>{{topping.description}}</p>
            </div>
        {%endfor%}
    {%endif%}
{%endblock content%}